<div ng-controller="ListController">
    <div class="row">
        <div class="col-sm-offset-2 col-md-8">
            <div class="row weight-list" ng-repeat="weight in weights">
                <div class="col-xs-4 col-sm-2">
                    {{ weight.date | date : 'M/d/yyyy' }}
                </div>
                <div class="col-xs-4 col-sm-3">
                    {{ weight.weight }} lbs
                </div>
                <div class="col-xs-4 col-sm-7">
                    <button type="button" class="btn btn-danger pull-right delete-weight" ng-click="weights.$remove(weight)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
